* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh; /* take up full space of monitor */
  background: linear-gradient(to right top, #65dfc9, #6cdbeb); 
  /*will go diagonall*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  background: linear-gradient(to right bottom,
  rgba(255, 255, 255, 0.7),
  rgba(255, 255, 255, 0.2));
  min-height: 80vh;
  width: 60%; /*the glass plate willtake up 60% of the screen */
  border-radius: 2rem; 
  z-index: 2;
  backdrop-filter: blur(1rem);
}

.circle1,.circle2 {
  background: white;
  background: linear-gradient(to right bottom,
  rgba(255, 255, 255, 0.9),
  rgba(255, 255, 255, 0.2));
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 50%;  
  backdrop-filter: blur(1rem);
}

.circle1{
  top: 7%;
  right: 12%;
}

.circle2{
  bottom: 15%;
  left: 5%;
}

.linkIcons {
  color: #51d2e6;
  font-size: 3rem;
}