* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh; /* take up full space of monitor */
  background: linear-gradient(to right top, #65dfc9, #6cdbeb); 
  /*will go diagonall*/
}